.flex-container {
    display: flex;
    justify-content: center;
    margin-top: 24px;
    align-items: center;
}

.flex-item {
    margin: 8px;
}

h2.flex-item {
    color: #4E593D;
    font-weight: 200;
    font-size: 24px;
}

.input-style {
    font: 400 18px Roboto, sans-serif;
    height: 60px;
    color: #333333;
    border: 1px solid #dcdce6;
    border-radius: 8px;
    padding: 0 24px;
}

@media (max-width: 600px) {

    h2.flex-item {
        font-size: 16px;
    }

    .input-style {
        font: 400 16px Roboto, sans-serif;
        height: 40px;
        width: 60%;
    }
}